.signupForm {
    display: flex;
    flex-direction: column;
  }
  
  .formGroup {
    margin-bottom: 20px;
  }
  
  .label {
    font-weight: bold;
  }
  
  .infoIcon {
    cursor: pointer;
  }
  
  .submitButton {
    margin-top: 20px;
    background-color: #3b0bbd;
    color: white;
  }
  
  .submitButton:hover {
    background-color: #05015d;
  }
  