@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

h1 {
  font-family: 'Nunito', sans-serif !important;
}

.tableContainer {
  max-width: 1000px;
  margin: 0 auto;
}
  
.tableHeader {
  background-color: #7c08f5; 
}
  
.tableHeaderCell {
  color: #fff !important;
  font-weight: bold;
  text-align: center;
  border-bottom: 6px solid #d72990 !important;
  text-transform: uppercase;
  font-family: 'Nunito', sans-serif !important;
  font-size: 1.2rem !important;
}
  
.tableBodyRow:hover {
  background-color: rgb(124,8,245, 0.1);
}
  
.tableBodyCell {
  padding: 16px;
  text-align: center;
  font-weight: bold;
  font-family: 'Nunito', sans-serif !important;
  font-size: 1.2rem !important;
}

.pointsCell {
  font-size: 1.8rem !important;
  color: #d72990 !important;
}

.editExerciseButton {
  width: 30px !important;
  height: auto !important;
}

  
  