 .img {
    max-height: 2.5rem;
    max-width: 2.5rem;
    clip-path: circle();
}

.caption {
  background-clip: text;
  background: -webkit-linear-gradient(right, #FF7800 8%, #F80032 28%, #FF00A0 40%, #8C28FF 60%, #0023FF 80%, #1798FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rank:hover {
  transform: scale(1.2);
}

.dots:after {
    content: '\2807';
    font-size: 2rem;
}

.dots {
    display: 'flex';
    justify-content: 'center';
    align-items: 'center';
}

.userRow {
    background-color: rgba(100, 100, 100, 0.4);
}

@media only screen and (min-width: 600px) {
  .textSizingHeader {
    font-size: 17pt;
  }

  .textSizingText {
    font-size: 15pt;
  }

  .tableSizing {
    width: 87.5%;
  }
}

@media only screen and (max-width: 600px) {

  .tableSizing {
    width: 92.5%;
  }
}