.chartsSection {
    width:46%;
}

.leaderboardSection {
    border-radius: 40px;
    height: 100%;
    width: 46%;
    background-color: aquamarine;
}

@media only screen and (max-width:1400px) {
    .chartsSection {
        width: 100%;
    }
    .leaderboardSection {
        width: 100%;
    }
}

