.input {
    margin-bottom: 16px;
}

.title {
    margin-bottom: 16px;
}

.imagePreview {
    margin-top: 16px;
    display: flex;
    justify-content: center;
}

.previewImage {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #ccc;
}


.imageSection {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
