.teamImg {
    max-width: 100px;
    max-height: 100px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 100px;
    border: 5px solid #EBEBEB;
    margin-bottom: 20px;
    right: 0px;
}

.tableStyle {
    border-collapse: separate;
    border-spacing: 0 15px;
    width: 100%
}

.points {
  color:#FF00A0 !important;
}

.tableRow {
    transition: all 0.2s ease-in-out;
    border-radius: 4px;
    margin-bottom: 15px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}


.tableRow {
    align-items: center; /* Center align content */
}

.tableCell {
    width: 100%; /* Make each cell full width */
    height: 100%;
    text-align: center; /* Center the text */
}



/* CSS specific to first row in leaderboard table */
/* TO DO: Customise text to stand out */
/* Add badge/card to make rank number stand out */
/* Highlight points text */

.tableRow:first-child {
    background: linear-gradient(45deg, #FF6B6B, #FFD93D);
    box-shadow: 0px 15px 11px -6px #7a7a7d;
}

/* .tableRow:nth-child(odd):not(:first-child) {
  background: rgb(230, 243, 251);
} */
/* CSS that repeats Sky colours for every 7th element in team list */

.tableRow:nth-child(7n+2) {
    border-bottom: solid 3px #FF8C00;
    background-color: rgb(255, 140, 0, 0.1);
 }

.tableRow:nth-child(7n+3) {
    border-bottom: solid 3px #F80032;
    background-color: rgb(248, 0, 50, 0.1);
}

.tableRow:nth-child(7n+4) {
    border-bottom: solid 3px #FF00A0;
    background-color: rgb(255, 0, 162, 0.1);
}

.tableRow:nth-child(7n+5) {
    border-bottom: solid 3px #8C28FF;
    background-color: rgb(140, 40, 255, 0.1);
}

.tableRow:nth-child(7n+6) {
    border-bottom: solid 3px #0023FF;
    background-color: rgb(0, 34, 255, 0.1);
}

.tableRow:nth-child(7n+7) {
    border-bottom: solid 3px #19a0ff;
    background-color: rgb(25, 159, 255, 0.1);
}

/* Hover action makes Row pop out and highlights with shadow */

.tableRow:hover {
    background-color: #fff;
    transform: scale(1.1);
    -webkit-box-shadow: 0px 5px 15px 8px #e4e7fb;
    box-shadow: 0px 5px 15px 8px #e4e7fb;
}

/* 1st Place Crown Animation */

.crownAnimation {
    animation: wiggle 2s linear infinite;
}

@keyframes wiggle {
0%, 7% {
  transform: rotateZ(0);
}
15% {
  transform: rotateZ(-15deg);
}
20% {
  transform: rotateZ(10deg);
}
25% {
  transform: rotateZ(-10deg);
}
30% {
  transform: rotateZ(6deg);
}
35% {
  transform: rotateZ(-4deg);
}
40%, 100% {
  transform: rotateZ(0);
}
}

/* .tableFont {
    font-size: 1.5rem;
} */