@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotateX(-10deg); /* Tilt slightly backward */
  }
  100% {
    transform: rotate(0deg);
  }
}

/* .leaderboardIcon {
  font-size: 40px;
  color: #0023ff;
  margin: 10px 0;
  margin-left: auto;
  float: right;
} */

.rankingCard {
  background: linear-gradient(145deg, #67068e 0%, #19a0ff 100%, #f80032);
  border-radius: 20px;
  padding: 20px;
  width: 100%;
  height: 75%;
  display: flex;
  align-items: center;
  color: #fff;
  font-family: "Poppins", sans-serif;
  position: relative;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  animation: tilt 2s infinite ease-in-out; 
  /* check if the tilt animation works - if confused go to slackoverflow tilt animation help from Anthony */
  /* IT DOESNT WORK OMMGGGGGGGG :( */
}

.rankingCard:hover {
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

.rankBadge {
  position: absolute;
  top: -10px;
  left: -10px;
  background: #0023ff;
  border-radius: 50px;
  font-weight: bold;
  font-size: 1.2em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 16%;
  aspect-ratio: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  @media (max-width:650px) {
    width: 25%;
  }
}

.profileImage {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  margin-right: 20px;
  border: 2px solid #fff;
  transition: transform 0.3s ease;
}

.rankingCard:hover .profileImage {
  transform: rotate(10deg);
}

.cardContent {
  flex-grow: 1;
}

.teamName {
  font-family: "Bebas Neue", sans-serif;
  font-weight: "400";
}

.pointsContainer {
  display: flex;
  flex-direction: column;
}

.pointsLabel {
  font-size: 0.9em;
  margin-bottom: 5px;
}

.pointsBar {
  background: rgba(166, 64, 64, 0.2);
  border-radius: 10px;
  height: 15px;
  width: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.3);
}

.pointsFill {
  background: #ee4d03;
  height: 100%;
  border-radius: 0px 0 0 0px;
}

/* For Phones */
@media (max-width: 700px) {
  /* .rankingCard {
    width: 100%;
    height: 220px;
    padding: 10px;
  } */

  .profileImage {
    width: 40%;
    height: 40%;
    border: 0px;
  }

  .teamName {
    font-size: 1em;
  }

  /* .rankBadge {
    top: -5px;
    left: -5px;
    padding: 10px 20px;
    font-size: 1em;
  } */
}
