.signupContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background-color: #f5f5f5;
  }
  
  .paper {
    padding: 30px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    border-radius: 10px;
  }
  
  .logo {
    width: 250px;
    height: auto;
    margin-bottom: 20px;
  }
  
  .title {
    margin-bottom: 40px !important;
    font-weight: bold;
    color: #333;
  }
  