.signupContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    max-width: 50%; 
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: inset 0px 33px 25px 0 #8C28FF, 
                        inset 0 66px 15px 0px #ccc,
                        inset 0 99px 5px 0px #fff;
  }
  

  .skycolouring {
    background-clip: text;
    background: -webkit-linear-gradient(right, #FF7800 8%, #F80032 28%, #FF00A0 40%, #8C28FF 60%, #0023FF 80%, #1798FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }


  .headerBox {
    width: 100%;
    padding: 10px 0;
    background-color:  #f9f9f9; 
    /* border-bottom: 1px solid #ddd; */
    margin-bottom: 20px; 
    text-align: center;
    /* box-shadow:inset 0px 33px 25px 0 #343137; */
    border-radius:5px 5px 5px 5px; 
  }
  
  

  .signupForm {
    display: flex;
    flex-direction: column;
  }
  
  .formGroup {
    margin-bottom: 15px;
  }
  
  .formGroup label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .formGroup input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
  }
  
  .submitButton {
    padding: 10px;
    background-color: #3b0bbd;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .submitButton:hover {
    background-color: #05015d;
  }
  

 